<div class="mt-4">
    <form class="row g-3">
        <div class="form-group">
            <label for="inputQuery">Từ khóa</label>
            <input type="text" name="q" class="form-control" id="inputQuery" placeholder="Nhập từ khóa">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary mb-3">Tìm kiếm</button>
        </div>
    </form>
</div>
